.explorer {
  background-color: rgba(246, 246, 246, 1);
  text-align: center;
  padding: 2rem;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }
}
