@import "../base/base";

.menu-container {
  position: relative;
  z-index: 1;
  background-color: rgb(246, 246, 246);
  padding: 1.5rem 1rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-top: -3rem;
  @media (min-width: 1440px) {
    padding: 3rem 12rem;
    margin: -3rem 12rem 0rem 12rem;
  }
  .menu-title {
    @media (min-width: 1440px) {
      display: flex;
      justify-content: center;
    }
    h3 {
      font-family: Shrikhand, sans-serif;
      font-size: 1.7rem;
    }
  }
}
.menu-item {
  .subtitles-menu {
    margin-bottom: 2.5rem;
    h3 {
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      font-size: 1rem;
      margin: 1.5rem 0rem;
    }
    h3::after {
      content: "";
      width: 40px;
      height: 3px;
      background-color: $green-background;
      position: absolute;
      left: 0;
      top: 24px;
    }
    .item {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 0.3rem;
      margin: 1rem 0rem;
      background-color: white;
      border-radius: 1rem;
      padding: 1rem;
      box-shadow: $box-shadow;
      .prix {
        font-weight: 500;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1rem;
      }
      p {
        font-size: 1rem;
        font-weight: 500;
      }
      span {
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
  }
}
.delivery-button {
  display: flex;
  justify-content: center;
  button {
    padding: 1rem 2.5rem;
  }
}
