@import "../base/base";

.restaurants {
  background-color: rgba(246, 246, 246, 1);
  padding: 4rem 1rem;
  @media (min-width: 1440px) {
    padding: 4rem 13rem;
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  .container-restaurant {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (min-width: 1024px) {
      display: flex;
      gap: 4rem 7rem;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .card {
      position: relative;
      height: 250px;
      @media (min-width: 1024px) {
        width: 44%;
      }
      .green-info {
        color: $green-font;
        background-color: $green-background;
        position: absolute;
        right: 0;
        top: 0;
        margin: 1rem;
        padding: 0.5rem;
        border-radius: 0.2rem;
      }
      img {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 100%;
        height: 70%;
        object-fit: cover;
      }
      .info-card {
        background-color: white;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 1rem;
        .heartTransition {
          &:hover .fasHeart {
            opacity: 100%;
          }
          .fasHeart {
            color: transparent;
            background-image: $gradient-color;
            -webkit-background-clip: text;
            background-clip: text;
            opacity: 0%;
            transition: opacity 0.5s ease;
          }
          i {
            padding: 1rem;
            font-size: 1.5rem;
            position: absolute;
            right: 0;
            top: 12rem;
          }
        }
        p {
          font-weight: 700;
          font-size: 1.2rem;
          margin-bottom: 0.3rem;
        }
        span {
          font-size: 1.1rem;
          font-weight: 300;
        }
      }
    }
  }
}
