@import '../base/base';

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  font-weight: 500;
  padding: 9px 0px;
  background-color: rgba(234, 234, 234, 1);
  color: $grey-color-font;
}
