$grey-color: rgba(234, 234, 234, 1);
$grey-button: rgba(246, 246, 246, 1);
$grey-color: rgba(246, 246, 246, 1);
$grey-color-font: rgba(53, 53, 53, 1);
$grey-background-footer : rgba(53, 53, 53, 1);
$grey-icon: rgba(126, 126, 126, 1);
$white: #ffffff;
$violet-color: rgba(147, 86, 220, 1);
$green-font : rgba(0, 135, 102, 1) ;
$green-background : rgba(153, 226, 208, 1) ;
$gradient-color: var(
  --Button-Gradient,
  linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
);
$light-gradient: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  ),
  linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  $box-shadow : 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
 
